discord.py
asyncio
selenium
discord.py[voice]
pip
beautifulsoup4
youtube-dl
ffmpeg-python
requests
lxml
urllib3
Options
datetime
pytube
aiohttp
async-timeout
attrs
certifi
chardet
idna
multidict
numpy
pandas
python-dateutil
six
soupsieve
typing-extensions
yarl

